<!DOCTYPE html>
<html>

<head>
    <title>Stratagem</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- Favicon -->
    <link href="/static/css/images/favicon.png" rel="icon">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/indexStyle.css">
    <style>
        body {
            background: url(/static/css/images/bgimg1.png);
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</head>

<body>
    <section class="text-gray-700 body-font">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <img class="logo" src="../static/css/images/logo.png" alt="logo">
                </div>
            </div>
        </nav>

        <div class="heading">
            <h1>Speech Emotion Recognition</h1>
        </div>
        <div class="getstartbtn">
            <form action="/audio/"><button class="button button4">Get Started</button></form>
        </div>

    </section>

</body>

</html>